<div class="container">
 <div class="row" style="margin-top: 20px" id="ModulesList">
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/java.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">Java</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important Java Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a  (click)="navigateToQA()" [routerLink]="['/question&answer','Java']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card" >
       <img src="../../../assets/Image/mySQL.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">MySQL</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important MySQL Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','MySQL']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/javaFX.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">JavaFX</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important JavaFX Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','JavaFX']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/html.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">HTML</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important HTML Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','HTML']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/css.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">CSS</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important CSS Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','CSS']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/js.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">Java Script</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important Java Script Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','JavaScript']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/hibernate.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 class="card-title">Hibernate</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important Hibernate Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','Hibernate']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <img src="../../../assets/Image/Spring.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h4 #topicName class="card-title">Spring</h4>
         <hr>
         <h2 class="card-title">Most Popular And Important Spring Interview Question</h2>
         <p class="card-text">There are more than 100 Questions for refer before you face the interview.</p>
         <a (click)="navigateToQA()" [routerLink]="['/question&answer','Spring']" class="btn">Let's Start!</a>
       </div>
     </div>
   </div>

 </div>
</div>
