<div class="container">
  <div class="row">
    <div class="col-12">
      <p style="text-align: center;margin-top: 25px;font-family: 'Arial Rounded MT Bold';font-size: 35px">{{topic}}
        Interview Questions With Answers</p>
      <hr>

      <div>
        <p style="font-family: 'Roboto Medium';font-size: 20px;margin-top: 40px">1) What is the difference between path
          and classpath variables?</p>
        <p style="font-family: 'Open Sans', arial, sans-serif;font-size: 16px;margin-top: 20px">Answer: The path is an
          environment variable which is used by operating systems to locate the executables.
          That’s the reason why when we install java for the first time or want an executable to be found by OS, we need
          to add the directory location in the Path variable.

          Classpath is very specific to Java and used for locating class files by java executables. It can be a
          directory,
          ZIP files JAR files, etc. when we provide classpath location while running java application.</p>
      </div>

      <div>
        <p style="font-family: 'Roboto Medium';font-size: 20px;margin-top: 40px">2)What is the importance of the main()
          method in Java?</p>
        <p style="font-family: 'Open Sans', arial, sans-serif;font-size: 16px;margin-top: 20px">Answer: main() method in
          java is the entry point for any java program. The syntax which is used for the main method in java programming
          is-:

          public static void main(String args[])

          With the main method being public and static it helps java to access it without initializing the class. The
          value which is passed in the input parameter is an array of String by which runtime arguments are passed.</p>
      </div>

      <div>
        <p style="font-family: 'Roboto Medium';font-size: 20px;margin-top: 40px">3)What is Composition in Java?</p>
        <p style="font-family: 'Open Sans', arial, sans-serif;font-size: 16px;margin-top: 20px">Answer: The composition
          is the design technique used in java to implement a has-a relationship in classes. It is used for Object
          composition for code reuse. It is achieved by using instance variables that refer to a different object. The
          main benefit of using composition is that it provides control over the visibility of other objects to client
          classes and reuse what we really need.</p>
      </div>

      <div>
        <p style="font-family: 'Roboto Medium';font-size: 20px;margin-top: 40px">4) What is the Java Reflection API?</p>
        <p style="font-family: 'Open Sans', arial, sans-serif;font-size: 16px;margin-top: 20px">Answer: Java Reflection
          API provides the ability to inspect and modify the behavior of any application during runtime. We can inspect
          any java class, enum, and interface and also get their methods and field details. It is an advanced topic and
          used for breakage of any design pattern such as Singleton pattern by invoking the private constructor which
          also violate the rules of access modifiers.</p>
      </div>

      <div>
        <p style="font-family: 'Roboto Medium';font-size: 20px;margin-top: 40px">5)What is marker interface?</p>
        <p style="font-family: 'Open Sans', arial, sans-serif;font-size: 16px;margin-top: 20px">Answer: The marker
          interface in java is a design pattern used to provide run-time information about the objects. It provides
          external means to add metadata with a class where language does not have any explicit support for metadata. In
          a java program, it is used as an interface with no method specified. Serializable interface is a good example
          of marker interface</p>
      </div>


    </div>
  </div>
</div>
